<div class="alert alert-danger" role="alert">
<i class="fa fa-bug" aria-hidden="true"></i> a simple danger alert-chech it out !
 </div>
 hello : {{title}} 
 <div class ="input-group mb-3">
    <input #inputtext [value]="description" type="text" class="form-control" placeholder="recipient's username" aria-label="recipient's username">
    <button (click)="setoutput(inputtext)" class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
 </div>
 Output:{{Output}}
 <br>
 <input #text type="text" [value]="title" (change)="changetitle(text)">Your text is : {{title}}
 <br>
 <br>
 <input type="text" [(ngModel)]="name">
 Output:{{name}}